<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=azurestoreblob;AccountKey=jlEmdw5X5K6B2pIkYKftz9kUalPGBzr/3B0C9f/RwuI04NxyhpOQNwdgxMmqnjbKjiMH0OR8qfCvwZrw34bgyQ==;EndpointSuffix=core.windows.net" />
	</appSettings>

</configuration>