<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=azurestoretbl;AccountKey=rP9hARNHn3ySeJEm6lPUq6W5hE0d0rj7h7W4c2XYHIvzl6eR1dVhKESEOlwywBhUb2nWGSpaGU5CuQev06wtAQ==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>