<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=azurestorequeue;AccountKey=aRia0bCUb/1XeoFVExHfeKRCHBLiWVDCN0KUL0cXcSL3yutc00mfO7YlYvVYX/nOrU2NeWQayqTgkKM9AO0vYg==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>